name: Run Flutter Analyze

on:
  workflow_call:

jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Setup Flutter
        uses: ./.github/actions/setup
      - name: Analyze
        run: flutter analyze